/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body main .destinations .tittle p {
  color: #fff;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

body {
  width: 100%;
  height: 2000px;
}
body header {
  width: 100%;
  height: 90px;
}
body header section {
  z-index: 1;
  top: 0px;
  padding: 35px 100px;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
body header section .logo {
  display: flex;
  gap: 30px;
}
body header section .logo img {
  height: 40px;
}
body header section div .navigation ul {
  display: flex;
  gap: 50px;
}
body header section div .navigation ul #active {
  color: gray;
}
body header section div .navigation ul .link {
  width: 100px;
  text-align: center;
  transition: transform, all ease-in-out 0.4s;
  font-weight: 600;
  font-size: 18px;
  color: rgba(32, 26, 26, 0.988);
  font-family: "Noto Sans", sans-serif;
}
body header section div .navigation ul .link:hover {
  transform: translateY(-4px);
  border-bottom: 3px solid #5cace4;
  color: #5cace4;
}
body main {
  margin-top: 20px;
}
body main .underheader .bg-Nature {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 240px 100px;
  font-size: 170px;
  color: #ffc700;
  font-family: "Great Vibes", cursive;
  height: 810px;
  background-image: url(../images/janez-fabijan-VXzbVm24ap8-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body main .underheader .bg-Nature h2 {
  font-size: 240px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-weight: 600;
}
body main .underheader .flex {
  transform: translate(1000px, 415px);
  position: absolute;
  display: flex;
  gap: 40px;
  width: 400px;
  height: 90px;
}
body main .underheader .flex .photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  background-color: aqua;
  border: 2px solid;
  border-radius: 45px;
  border-color: black;
}
body main .underheader .flex .photo img {
  animation: mymove 0.8s infinite linear 0.8s;
}
@keyframes mymove {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(5px);
  }
}
body main .underheader .flex div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}
body main .underheader .flex div p {
  font-size: 17px;
  color: white;
  font-family: "Noto Sans", sans-serif;
}
body main .destinations {
  height: 1010px;
  background: rgb(16, 255, 88);
  background: linear-gradient(180deg, rgb(16, 255, 88) 0%, rgb(22, 235, 218) 71%, rgb(242, 252, 255) 100%);
}
body main .destinations .tittle {
  margin-bottom: 90px;
  padding-top: 100px;
  display: flex;
  gap: 12px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
body main .destinations .tittle h1 {
  color: #ffd600;
  text-align: center;
  font-family: "Allison", cursive;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.8%;
}
body main .destinations .tittle h2 {
  color: #fff;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: lowercase;
}
body main .destinations .tittle div {
  width: 50px;
  height: 30px;
  background-color: aqua;
  border: 0px solid;
  border-radius: 35px;
}
body main .destinations .tittle p {
  width: 1012px;
}
body main .destinations .locations {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body main .destinations .locations .picture:nth-child(1) {
  background-image: url(../images/borjomi1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .destinations .locations .picture:nth-child(2) {
  background-image: url(../images/borjomi2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .destinations .locations .picture:nth-child(3) {
  background-image: url(../images/blue-palace-firuza-firuza.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .destinations .locations .picture:nth-child(4) {
  background-image: url(../images/green-monastery-totale-2-1000.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .destinations .locations .picture {
  border: 3px solid rgb(82, 81, 81);
  cursor: pointer;
  width: 270px;
  height: 450px;
  background-color: rgb(244, 31, 31);
  transition: transform 0.4s ease-in-out;
}
body main .destinations .locations .picture:hover {
  transform: translateY(-15px) skewY(3deg) scale(1.06);
}/*# sourceMappingURL=global.css.map */