@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("//cdn.web-fonts.ge/fonts/bpg-mikheil-stefane/css/bpg-mikheil-stefane.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mkhedruli-bold/css/bpg-nino-mkhedruli-bold.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-phone-sans-bold-italic/css/bpg-phone-sans-bold-italic.min.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body main .seconddestinations .sec-tittle p, body main .destinations .tittle p {
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  line-height: normal;
}

body main .seconddestinations .sec-tittle, body main .destinations .tittle {
  margin-bottom: 90px;
  padding-top: 100px;
  display: flex;
  gap: 12px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

body main .seconddestinations .sec-tittle h1, body main .destinations .tittle h1 {
  color: #ffd600;
  text-align: center;
  font-family: "BPG Mikheil Stefane", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.8%;
}

body main .seconddestinations .sec-tittle h2, body main .destinations .tittle h2 {
  color: #fff;
  text-align: center;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: lowercase;
}

body main .seconddestinations .sec-tittle p, body main .destinations .tittle p {
  font-family: "BPG Mikheil Stefane", sans-serif;
  width: 912px;
  font-weight: 800;
  color: #323535;
}

body main .seconddestinations .sec-tittle .amptysharp, body main .destinations .tittle div {
  width: 50px;
  height: 30px;
  background-color: #abbaba;
  border: 0px solid;
  border-radius: 35px;
}

body {
  width: 100%;
  height: 3800px;
}
body header {
  width: 100%;
}
body header section {
  opacity: 0.6;
  align-items: center;
  z-index: 1;
  border-bottom: 2px solid black;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0px;
  padding: 35px 80px;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
body header section:hover {
  opacity: 1;
}
body header section .logo {
  display: flex;
  gap: 30px;
}
body header section .logo img {
  height: 40px;
}
body header section div .navigation {
  height: 40px;
  margin-top: 17px;
}
body header section div .navigation ul {
  display: flex;
  gap: 40px;
}
body header section div .navigation ul #active {
  color: gray;
}
body header section div .navigation ul .link {
  width: 140px;
  text-align: center;
  transition: transform, all ease-in-out 0.4s;
  font-weight: 600;
  font-size: 20px;
  color: rgba(32, 26, 26, 0.988);
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
}
body header section div .navigation ul .link i {
  margin-right: 7px;
}
body header section div .navigation ul .link:hover {
  transform: translateY(-7px);
  border-bottom: 3px solid #5cace4;
  color: #5cace4;
}
body header section div .navigation ul select {
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px;
  border: 3px solid gray;
  border-radius: 25px;
  width: 70px;
  height: 35px;
}
body header section div .navigation ul select option img {
  height: 15px;
}
body main .underheader .bg-Nature {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 240px 100px;
  height: 810px;
  background-image: url(../images/borjomi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .underheader .bg-Nature h1 {
  font-size: 100px;
  font-family: "BPG Mikheil Stefane", sans-serif;
  color: #ffc700;
  font-weight: 600;
}
body main .underheader .bg-Nature h2 {
  font-size: 140px;
  font-family: "BPG Phone Sans Bold Italic", sans-serif;
  color: white;
  font-weight: 600;
}
body main .underheader .flex {
  position: absolute;
  top: 679px;
  right: 60px;
  display: flex;
  gap: 40px;
  width: 300px;
  height: 90px;
}
body main .underheader .flex .photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  background-color: rgb(255, 186, 0);
  border: 2px solid;
  border-radius: 45px;
  border-color: black;
}
body main .underheader .flex .photo img {
  animation: mymove 0.8s infinite linear 0.8s;
}
@keyframes mymove {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(5px);
  }
}
body main .underheader .flex div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}
body main .underheader .flex div p {
  font-weight: 700;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.99);
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
}
body main .destinations {
  height: 1210px;
  margin-bottom: 100px;
  background: rgb(215, 220, 221);
  background: linear-gradient(180deg, rgb(215, 220, 221) 0%, rgb(230, 237, 236) 53%, rgb(245, 252, 255) 100%);
}
body main .destinations .locations {
  height: 800px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body main .destinations .locations .button:nth-child(1) .picture {
  background-image: url(../images/borjomi1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .destinations .locations .button:nth-child(2) .picture {
  background-image: url(../images/borjomi2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .destinations .locations .button:nth-child(3) .picture {
  background-image: url(../images/blue-palace-firuza-firuza.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .destinations .locations .button:nth-child(4) .picture {
  background-image: url(../images/green-monastery-totale-2-1000.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .destinations .locations .picture {
  cursor: pointer;
  width: 310px;
  height: 553px;
  border-radius: 10px;
  background-color: rgb(244, 31, 31);
  transition: transform 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 374px;
  gap: 10px;
}
body main .destinations .locations .picture:hover {
  transform: translateY(-15px) scale(1.02);
}
body main .destinations .locations .picture h1 {
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
  font-size: 27px;
  font-weight: 900;
  color: whitesmoke;
}
body main .destinations .locations .picture p {
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: whitesmoke;
}
body main .seconddestinations {
  margin-bottom: 100px;
}
body main .seconddestinations .sec-tittle h1 {
  color: #ffea07;
}
body main .seconddestinations .sec-tittle h2 {
  color: black;
}
body main .grid {
  height: 1200px;
  margin-bottom: 400px;
  display: flex;
  justify-content: center;
}
body main .grid .gridconteiner {
  padding: 0 50px;
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto;
}
body main .grid .gridconteiner .sec-photo {
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 70px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #ffea07;
}
body main .grid .gridconteiner .sec-photo h1 {
  color: white;
  font-size: 27px;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
  text-align: center;
}
body main .grid .gridconteiner .sec-photo h2 {
  color: white;
  font-size: 18px;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
  text-align: center;
}
body main .grid .gridconteiner #first {
  padding-bottom: 200px;
  background-image: url(../images/romanov-palace-known-likani-located-600w-1475101799.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  grid-row-start: 1;
  grid-row-end: 3;
}
body main .grid .gridconteiner #second {
  background-image: url(../images/b8.jpg);
  height: 345px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .grid .gridconteiner #third {
  background-image: url(../images/deLoxqrgG3hw9364V98Oy92FjQrMNz.jpg);
  height: 345px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .grid .gridconteiner #forth {
  background-image: url(../images/კახის\ ტბა.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 345px;
  grid-column-start: 2;
  grid-column-end: 4;
}
body main .grid .gridconteiner #fifth {
  background-image: url(../images/b3.jpg);
  height: 345px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .grid .gridconteiner #sixth {
  background-image: url(../images/dji-0561-12.jpg);
  height: 345px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .grid .gridconteiner #seventh {
  background-image: url(../images/b6.jpg);
  height: 345px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main footer {
  height: 400px;
  width: 100%;
  background-image: url(../images/footer2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main footer section {
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body main footer section .ft-link {
  padding-left: 77px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body main footer section .ft-link h1 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(249, 219, 219);
}
body main footer section .ft-link a {
  font-size: 18px;
  color: #848481;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  transition: 0.5s;
}
body main footer section .ft-link a:hover {
  color: #5cace4;
}
body main footer section .icons {
  padding-right: 232px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.servicesweb {
  height: 1000px;
}
.servicesweb main {
  padding-top: 129px;
}
.servicesweb main .bg-likani {
  background-image: url(../images/Crowne_Plaza_BORJOMI-Borjomi-Aussenansicht-5-766111.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #848481;
  height: 612px;
  width: 90%;
}
.servicesweb main .bg-likani div {
  display: flex;
  padding-top: 150px;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  height: 300px;
  width: 60%;
}
.servicesweb main .bg-likani div h1 {
  color: aliceblue;
  font-size: 100px;
  font-weight: 500;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
}
.servicesweb main .bg-likani div h2 {
  font-size: 25px;
  color: aliceblue;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
}
.servicesweb main .offers {
  height: 1600px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 330px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
}
.servicesweb main .offers section div a {
  font-size: 22px;
  font-weight: 900;
  color: #000000;
  font-family: "BPG Mikheil Stefane", sans-serif;
  cursor: pointer;
}
.servicesweb main .offers section div a:hover {
  color: green;
  border-bottom: 3px solid green;
}
.servicesweb main .offers section .about {
  height: 1150px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.servicesweb main .offers section .about p {
  width: 647px;
  font-size: 18px;
  font-weight: 700;
  color: #323535;
}
.servicesweb main .offers h1 {
  font-size: 25px;
  color: #207006;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
}
.servicesweb main .offers .conteiner-of-photo {
  margin-top: 60px;
  width: 647px;
  display: flex;
  justify-content: space-between;
}
.servicesweb main .offers .conteiner-of-photo:nth-child(1) .photos {
  background-image: url(../images/);
}
.servicesweb main .offers .conteiner-of-photo:nth-child(2) .photos {
  background-image: url(../images/);
}
.servicesweb main .offers .conteiner-of-photo:nth-child(3) .photos {
  background-image: url(../images/);
}
.servicesweb main .offers .conteiner-of-photo .photos {
  height: 194px;
  width: 194px;
  border-radius: 20px;
  background-color: #ffea07;
}
.servicesweb main .offers .weather .discribe {
  width: 504px;
  height: 132px;
  background-color: #207006;
  border-radius: 10px;
  border: 1px solid #2c2929;
}
.servicesweb main .barg {
  position: relative;
  align-items: center;
  padding: 0 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  margin: 0 auto;
  height: 133px;
  width: 90%;
  background-color: #7f731a;
}
.servicesweb main .barg div img {
  position: absolute;
  top: -50px;
}
.servicesweb main .barg div h1 {
  margin-bottom: 12px;
  font-size: 35px;
  font-weight: 800;
  color: white;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
}
.servicesweb main .barg div p {
  font-size: 20px;
  color: white;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
}
.servicesweb main .barg div button {
  cursor: pointer;
  display: flex;
  padding: 11px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #7f731a;
  font-weight: 800;
  border-radius: 4px;
  border: none;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  height: 42px;
  width: 144px;
}
.servicesweb main footer {
  margin-top: 400px;
}/*# sourceMappingURL=global.css.map */