@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("//cdn.web-fonts.ge/fonts/bpg-mikheil-stefane/css/bpg-mikheil-stefane.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mkhedruli-bold/css/bpg-nino-mkhedruli-bold.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-phone-sans-bold-italic/css/bpg-phone-sans-bold-italic.min.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main .seconddestinations .sec-tittle .text, main .destinations .tittle .text {
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  line-height: normal;
}

main .seconddestinations .sec-tittle, main .destinations .tittle {
  margin-bottom: 90px;
  padding-top: 100px;
  display: flex;
  gap: 12px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

main .seconddestinations .sec-tittle h1, main .destinations .tittle h1 {
  color: #ffd600;
  text-align: center;
  font-family: "BPG Mikheil Stefane", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.8%;
}

main .seconddestinations .sec-tittle h2, main .destinations .tittle h2 {
  color: #fff;
  text-align: center;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: lowercase;
}

main .seconddestinations .sec-tittle .text, main .destinations .tittle .text {
  font-family: "BPG Mikheil Stefane", sans-serif;
  width: 912px;
  font-weight: 800;
  color: #323535;
}

main .seconddestinations .sec-tittle .amptysharp, main .destinations .tittle div {
  width: 50px;
  height: 30px;
  background-color: #abbaba;
  border: 0px solid;
  border-radius: 35px;
}

body {
  width: 100%;
  height: 3800px;
}
body .header {
  height: 101px;
  opacity: 0.6;
  z-index: 1;
  width: 100%;
  align-items: center;
  background-color: rgb(243, 219, 0);
  position: fixed;
  top: 0;
  padding: 0 25px;
  justify-content: space-between;
  display: flex;
  transition: 0.3s;
}
body .header:hover {
  opacity: 1;
}
@media (max-width: 768px) {
  body .header {
    height: 66px;
    padding: 0 80px;
  }
}
body .header .logo {
  width: 120px;
}
body .header .logo a {
  display: block;
}
body .header .logo img {
  display: block;
  width: 100%;
}
body .header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .header .menu {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  z-index: 1;
  align-items: center;
  transition: 0.5s;
}
body .header .navigation input:checked ~ .humburger {
  background: transparent;
}
body .header .navigation input:checked ~ .humburger:before {
  transform: rotate(-45deg);
  top: 0;
  width: 30px;
}
body .header .navigation input:checked ~ .humburger:after {
  transform: rotate(45deg);
  top: 0;
  width: 30px;
}
body .header .humburger {
  position: relative;
  width: 30px;
  height: 4px;
  background-color: #fff;
  z-index: 2;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}
body .header .humburger:before,
body .header .humburger:after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background: #fff;
  border-radius: 10px;
  transition: 0.3s;
}
body .header .humburger:before {
  top: -10px;
  width: 20px;
}
body .header .humburger:after {
  top: 10px;
  width: 25px;
}
body .header .toggle-menu {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}
body .header .humburger,
body .header .toggle-menu {
  display: none;
}
body .header .navigation input:checked ~ .menu {
  right: 0;
  box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 768px) {
  body .header .humburger,
  body .header .toggle-menu {
    display: block;
  }
  body .header .header {
    padding: 10px 20px;
  }
  body .header .menu {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -300px;
    background: #ffea07;
    width: 300px;
    height: 600px;
    padding-top: 65px;
  }
  body .header .menu li {
    width: 100%;
  }
  body .header .menu li a,
  body .header .menu li a:hover {
    padding: 40px;
    font-size: 24px;
    box-shadow: 0 1px 0 rgba(30, 27, 27, 0.1) inset;
  }
}
body .header #active {
  color: gray;
}
body .header li {
  list-style: none;
}
body .header li .link {
  display: block;
  text-decoration: none;
  padding: 40px 25px;
  line-height: 1;
  transition: 0.3s;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: rgba(32, 26, 26, 0.988);
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
}
body .header li .link:hover {
  box-shadow: 0 -5px 0 #fff inset, 500px 0 0 rgba(0, 0, 0, 0.03) inset;
  padding: 35px 25px 45px 25px;
}
@media (max-width: 1024px) {
  body .header li .link {
    font-size: 18px;
    height: 28px;
  }
}
body .header li .link i {
  margin-right: 7px;
}
@media (max-width: 1024px) {
  body .header li .link i {
    margin-right: 4px;
  }
}

main .underheader .bg-Nature {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 240px 100px;
  height: 810px;
  background-image: url(../images/borjomi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  main .underheader .bg-Nature {
    justify-content: space-evenly;
  }
}
@media (max-width: 768px) {
  main .underheader .bg-Nature {
    padding: 240px 60px;
  }
}
@media (max-width: 480px) {
  main .underheader .bg-Nature {
    height: 0;
  }
}
main .underheader .bg-Nature h1 {
  font-size: 100px;
  font-family: "BPG Mikheil Stefane", sans-serif;
  color: #ffc700;
  font-weight: 600;
}
@media (max-width: 1024px) {
  main .underheader .bg-Nature h1 {
    font-size: 70px;
  }
}
@media (max-width: 768px) {
  main .underheader .bg-Nature h1 {
    font-size: 50px;
  }
}
@media (max-width: 480px) {
  main .underheader .bg-Nature h1 {
    font-size: 40px;
  }
}
main .underheader .bg-Nature h2 {
  font-size: 140px;
  font-family: "BPG Phone Sans Bold Italic", sans-serif;
  color: white;
  font-weight: 600;
}
@media (max-width: 1024px) {
  main .underheader .bg-Nature h2 {
    font-size: 100px;
  }
}
@media (max-width: 768px) {
  main .underheader .bg-Nature h2 {
    font-size: 70px;
  }
}
@media (max-width: 480px) {
  main .underheader .bg-Nature h2 {
    font-size: 55px;
  }
}
main .underheader .flex {
  position: absolute;
  top: 649px;
  right: 60px;
  display: flex;
  gap: 40px;
  width: 300px;
  height: 90px;
}
@media (max-width: 768px) {
  main .underheader .flex {
    right: 30px;
  }
}
@media (max-width: 480px) {
  main .underheader .flex {
    width: 240px;
    gap: 0;
    justify-content: space-between;
    right: 0;
    top: 390px;
  }
}
main .underheader .flex .photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  background-color: rgb(255, 186, 0);
  border: 2px solid;
  border-radius: 45px;
  border-color: black;
}
@media (max-width: 768px) {
  main .underheader .flex .photo {
    width: 78px;
    height: 78px;
  }
}
@media (max-width: 480px) {
  main .underheader .flex .photo {
    width: 78px;
    height: 78px;
  }
}
main .underheader .flex .photo img {
  animation: mymove 0.8s infinite linear 0.8s;
}
@media (max-width: 480px) {
  main .underheader .flex .photo img {
    height: 70px;
  }
}
@keyframes mymove {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(5px);
  }
}
main .underheader .flex div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}
main .underheader .flex div p {
  font-weight: 700;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.99);
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
}
main .destinations {
  height: 1210px;
  margin-bottom: 100px;
  background: rgb(215, 220, 221);
  background: linear-gradient(180deg, rgb(215, 220, 221) 0%, rgb(230, 237, 236) 53%, rgb(245, 252, 255) 100%);
}
@media (max-width: 1024px) {
  main .destinations {
    height: 1710px;
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  main .destinations {
    height: 2510px;
  }
}
@media (max-width: 768px) {
  main .destinations .tittle h1 {
    font-size: 44px;
  }
}
@media (max-width: 480px) {
  main .destinations .tittle h1 {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  main .destinations .tittle h2 {
    font-size: 60px;
  }
}
@media (max-width: 480px) {
  main .destinations .tittle h2 {
    font-size: 50px;
  }
}
@media (max-width: 1024px) {
  main .destinations .tittle .text {
    width: 712px;
  }
}
@media (max-width: 768px) {
  main .destinations .tittle .text {
    width: 612px;
  }
}
@media (max-width: 480px) {
  main .destinations .tittle .text {
    width: 460px;
    font-size: 18px;
  }
}
main .destinations .locations {
  height: 800px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 1024px) {
  main .destinations .locations {
    height: 1190px;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  main .destinations .locations {
    justify-content: space-evenly;
  }
}
@media (max-width: 480px) {
  main .destinations .locations {
    height: 2100px;
  }
}
main .destinations .locations .button:nth-child(1) .picture {
  background-image: url(../images/borjomi1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .destinations .locations .button:nth-child(2) .picture {
  background-image: url(../images/borjomi2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .destinations .locations .button:nth-child(3) .picture {
  background-image: url(../images/blue-palace-firuza-firuza.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .destinations .locations .button:nth-child(4) .picture {
  background-image: url(../images/green-monastery-totale-2-1000.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .destinations .locations .picture {
  cursor: pointer;
  width: 310px;
  height: 553px;
  border-radius: 10px;
  background-color: rgb(244, 31, 31);
  transition: transform 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 374px;
  gap: 10px;
}
@media (max-width: 1024px) {
  main .destinations .locations .picture {
    width: 350px;
    height: 500px;
  }
}
@media (max-width: 780px) {
  main .destinations .locations .picture {
    height: 480px;
  }
}
@media (max-width: 480px) {
  main .destinations .locations .picture {
    height: 440px;
    width: 320px;
  }
}
main .destinations .locations .picture:hover {
  transform: translateY(-15px) scale(1.02);
}
main .destinations .locations .picture h1 {
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
  font-size: 27px;
  font-weight: 900;
  color: whitesmoke;
}
main .destinations .locations .picture p {
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: whitesmoke;
}
main .seconddestinations {
  margin-bottom: 100px;
}
main .seconddestinations .sec-tittle h1 {
  color: #ffea07;
}
@media (max-width: 768px) {
  main .seconddestinations .sec-tittle h1 {
    font-size: 44px;
  }
}
@media (max-width: 480px) {
  main .seconddestinations .sec-tittle h1 {
    font-size: 34px;
  }
}
main .seconddestinations .sec-tittle h2 {
  color: black;
}
@media (max-width: 768px) {
  main .seconddestinations .sec-tittle h2 {
    font-size: 60px;
  }
}
@media (max-width: 480px) {
  main .seconddestinations .sec-tittle h2 {
    font-size: 50px;
  }
}
@media (max-width: 1024px) {
  main .seconddestinations .sec-tittle .text {
    width: 712px;
  }
}
@media (max-width: 768px) {
  main .seconddestinations .sec-tittle .text {
    width: 612px;
  }
}
@media (max-width: 480px) {
  main .seconddestinations .sec-tittle .text {
    width: 460px;
    font-size: 19px;
  }
}
@media (max-width: 480px) {
  main .seconddestinations .sec-tittle .text {
    font-size: 18px;
  }
}
main .grid {
  height: 1200px;
  margin-bottom: 400px;
  display: flex;
  justify-content: center;
}
@media (max-width: 480px) {
  main .grid {
    height: 2400px;
  }
}
main .grid .gridconteiner {
  padding: 0 50px;
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto;
}
@media (max-width: 1024px) {
  main .grid .gridconteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  main .grid .gridconteiner {
    padding: 0 10px;
    justify-content: space-evenly;
  }
}
main .grid .gridconteiner .sec-photo {
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 70px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #ffea07;
}
@media (max-width: 1024px) {
  main .grid .gridconteiner .sec-photo {
    width: 400px;
  }
}
@media (max-width: 768px) {
  main .grid .gridconteiner .sec-photo {
    width: 345px;
  }
}
main .grid .gridconteiner .sec-photo h1 {
  color: white;
  font-size: 27px;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
  text-align: center;
}
@media (max-width: 768px) {
  main .grid .gridconteiner .sec-photo h1 {
    font-size: 27px;
  }
}
main .grid .gridconteiner .sec-photo h2 {
  color: white;
  font-size: 18px;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
  text-align: center;
}
main .grid .gridconteiner #first {
  padding-bottom: 200px;
  background-image: url(../images/romanov-palace-known-likani-located-600w-1475101799.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  grid-row-start: 1;
  grid-row-end: 3;
}
@media (max-width: 1024px) {
  main .grid .gridconteiner #first {
    height: 345px;
    padding-bottom: 70px;
    background-position: top;
  }
}
main .grid .gridconteiner #second {
  background-image: url(../images/b8.jpg);
  height: 345px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .grid .gridconteiner #third {
  background-image: url(../images/deLoxqrgG3hw9364V98Oy92FjQrMNz.jpg);
  height: 345px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .grid .gridconteiner #forth {
  background-image: url(../images/კახის\ ტბა.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 345px;
  grid-column-start: 2;
  grid-column-end: 4;
}
main .grid .gridconteiner #fifth {
  background-image: url(../images/b3.jpg);
  height: 345px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .grid .gridconteiner #sixth {
  background-image: url(../images/dji-0561-12.jpg);
  height: 345px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .grid .gridconteiner #seventh {
  background-image: url(../images/b6.jpg);
  height: 345px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main footer {
  height: 400px;
  width: 100%;
  background-image: url(../images/footer2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 480px) {
  main footer {
    height: 1000px;
  }
}
main footer section {
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  main footer section {
    justify-content: space-around;
    padding: 80px 50px;
  }
}
@media (max-width: 768px) {
  main footer section {
    padding-top: 80px;
    justify-content: space-around;
  }
}
@media (max-width: 480px) {
  main footer section {
    padding-left: 100px;
    padding-top: 30px;
    flex-wrap: wrap;
    flex-direction: column;
    height: 97%;
    justify-content: space-between;
  }
}
main footer section .ft-link {
  padding-left: 77px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 768px) {
  main footer section .ft-link {
    padding-left: 0;
  }
}
@media (max-width: 1024px) {
  main footer section .ft-link {
    padding-left: 0;
  }
}
main footer section .ft-link h1 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(249, 219, 219);
}
main footer section .ft-link a {
  font-size: 18px;
  color: #848481;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  transition: 0.5s;
}
main footer section .ft-link a:hover {
  color: #5cace4;
}
main footer section .icons {
  padding-right: 232px;
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}
@media (max-width: 1024px) {
  main footer section .icons {
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  main footer section .icons {
    padding-right: 0;
  }
}

.servicesweb {
  height: 1000px;
}
.servicesweb main {
  padding-top: 101px;
}
@media (max-width: 768px) {
  .servicesweb main {
    padding-top: 67px;
  }
}
.servicesweb main #bg-color {
  width: 100%;
  height: 612px;
}
.servicesweb main #bg-color .bg-likani {
  background-image: url(../images/Crowne_Plaza_BORJOMI-Borjomi-Aussenansicht-5-766111.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #848481;
  height: 612px;
  width: 90%;
}
.servicesweb main #bg-color .bg-likani div {
  display: flex;
  padding-top: 150px;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  height: 300px;
  width: 60%;
}
.servicesweb main #bg-color .bg-likani div h1 {
  color: aliceblue;
  font-size: 100px;
  font-weight: 500;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
}
.servicesweb main #bg-color .bg-likani div h2 {
  font-size: 25px;
  color: aliceblue;
  font-family: "BPG Ni no Mkhedruli Bold", sans-serif;
}
.servicesweb main .offers-conteiner {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  padding: 58px 70px;
}
@media (max-width: 1024px) {
  .servicesweb main .offers-conteiner {
    justify-content: center;
  }
}
.servicesweb main .offers-conteiner .offers {
  height: 1500px;
  width: 647px;
}
.servicesweb main .offers-conteiner .offers .nav {
  width: 647px;
  height: 35px;
  display: flex;
  justify-content: space-between;
}
.servicesweb main .offers-conteiner .offers .nav a {
  font-size: 22px;
  font-weight: 900;
  color: #000000;
  font-family: "BPG Nino Mkhedruli Bold";
  cursor: pointer;
}
.servicesweb main .offers-conteiner .offers .nav a:hover {
  color: green;
  border-bottom: 3px solid green;
}
.servicesweb main .offers-conteiner .offers .about {
  height: 1000px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.servicesweb main .offers-conteiner .offers .about p {
  font-family: "BPG Nino Mkhedruli Bold";
  width: 647px;
  font-size: 20px;
  font-weight: 700;
  color: #6c7070;
}
@media (max-width: 768px) {
  .servicesweb main .offers-conteiner .offers .about p {
    font-size: 18px;
  }
}
.servicesweb main .offers-conteiner .attention {
  margin-top: 50px;
  font-size: 25px;
  color: #207006;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
}
.servicesweb main .offers-conteiner .conteiner-of-photo {
  height: 200px;
  width: 647px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.servicesweb main .offers-conteiner .conteiner-of-photo .photos {
  height: 194px;
  width: 194px;
  border-radius: 20px;
  background-color: #ffea07;
}
.servicesweb main .offers-conteiner .conteiner-of-photo #pirveli {
  background-image: url(../images/Borjomi-7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.servicesweb main .offers-conteiner .conteiner-of-photo #meore {
  background-image: url(../images/sulfur-pools.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.servicesweb main .offers-conteiner .conteiner-of-photo #mesame {
  background-image: url(../images/dji-0440-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.servicesweb main .weather {
  width: 504px;
}
.servicesweb main .weather .describe-conteiner {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  padding-top: 28px;
  width: 504px;
  height: 132px;
  border-radius: 10px;
  border: 2px solid #e5e5e5;
}
.servicesweb main .weather .describe-conteiner .describe {
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
  height: 85px;
  width: 190px;
}
.servicesweb main .weather .describe-conteiner .describe:nth-child(1) {
  border-right: 2px solid #e5e5e5;
}
.servicesweb main .weather .describe-conteiner .describe:nth-child(2) {
  border-right: 2px solid #e5e5e5;
}
.servicesweb main .weather .describe-conteiner .describe .des-tittle {
  font-size: 17px;
  padding-left: 40px;
  font-weight: 600;
  color: #565656;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
}
.servicesweb main .weather .describe-conteiner .describe .sun {
  gap: 10px;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.servicesweb main .weather .describe-conteiner .describe .sun div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.servicesweb main .weather .describe-conteiner .describe .Safety {
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
  height: 50px;
  align-items: center;
  padding-left: 40px;
  display: flex;
  gap: 16px;
}
.servicesweb main .weather .describe-conteiner .describe .Safety img {
  width: 17.999px;
  height: 17.999px;
}
.servicesweb main .weather .describe-conteiner .describe .population {
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 16.5px;
}
.servicesweb main .weather .describe-conteiner .describe .population img {
  height: 18.13px;
  width: 18.13px;
}
.servicesweb main .weather .describe-conteiner .describe .population img .numbers .quantity {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.servicesweb main .weather .potoebi {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.servicesweb main .weather .potoebi div:nth-child(1) {
  background-image: url(../images/exterior.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  width: 504px;
  height: 194px;
  flex-shrink: 0;
  background-color: #000000;
}
.servicesweb main .weather .potoebi div:nth-child(2) {
  background-image: url(../images/352505258_709995150928263_8921581682695330735_n.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  width: 247px;
  height: 194px;
  flex-shrink: 0;
}
.servicesweb main .weather .potoebi div:nth-child(3) {
  background-image: url(../images/89291351.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  background-color: #000000;
  width: 247px;
  height: 194px;
  flex-shrink: 0;
}
.servicesweb main .weather .cost-conteiner h1 {
  margin-bottom: 14px;
  font-size: 18px;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
  color: rgb(59, 45, 45);
}
.servicesweb main .weather .cost-conteiner h2 {
  margin-bottom: 12px;
}
.servicesweb main .weather .cost-conteiner p {
  width: 90px;
  font-size: 13px;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
  color: #454040;
}
.servicesweb main .weather .cost-conteiner .cost {
  padding: 29px 20px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-top: 17px;
  width: 504px;
  height: 176px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #e5e5e5;
}
.servicesweb main .weather .cost-conteiner .cost .cost-boxs {
  width: 110px;
  height: 130px;
}
.servicesweb main .weather .cost-conteiner .cost .cost-boxs:nth-child(1) {
  border-right: 2px solid #e5e5e5;
}
.servicesweb main .weather .cost-conteiner .cost .cost-boxs:nth-child(2) {
  border-right: 2px solid #e5e5e5;
}
.servicesweb main .weather .cost-conteiner .cost .cost-boxs:nth-child(3) {
  border-right: 2px solid #e5e5e5;
}
.servicesweb .barg {
  position: relative;
  align-items: center;
  padding: 0 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  margin: 0 auto;
  height: 133px;
  width: 90%;
  background-color: #527f1a;
}
@media (max-width: 768px) {
  .servicesweb .barg {
    justify-content: space-around;
    padding: 0 20px;
  }
}
@media (max-width: 1024px) {
  .servicesweb .barg div {
    width: 200px;
  }
}
.servicesweb .barg div img {
  position: absolute;
  top: -50px;
}
@media (max-width: 768px) {
  .servicesweb .barg div img {
    width: 170px;
  }
}
.servicesweb .barg div h1 {
  margin-bottom: 12px;
  font-size: 35px;
  font-weight: 800;
  color: white;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
}
@media (max-width: 1024px) {
  .servicesweb .barg div h1 {
    font-size: 25px;
  }
}
.servicesweb .barg div p {
  font-size: 20px;
  color: white;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
}
@media (max-width: 1024px) {
  .servicesweb .barg div p {
    font-size: 18px;
  }
}
.servicesweb .barg div button {
  cursor: pointer;
  display: flex;
  padding: 11px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #7f731a;
  font-weight: 800;
  border-radius: 4px;
  border: none;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  height: 42px;
  width: 144px;
}
.servicesweb footer {
  margin-top: 290px;
}

.contacts-body {
  height: 1000px;
}
.contacts-body main .contact {
  position: relative;
  display: flex;
  padding: 170px 100px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  background-color: #6ba80b;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: animateBg 5s linear infinite;
}
@keyframes animateBg {
  100% {
    filter: hue-rotate(360deg);
  }
}
@media (max-width: 1024px) {
  .contacts-body main .contact {
    padding: 170px 40px;
  }
}
@media (max-width: 768px) {
  .contacts-body main .contact {
    padding: 0 10px;
  }
}
@media (max-width: 480px) {
  .contacts-body main .contact {
    padding-top: 120px;
  }
}
.contacts-body main .contact .content {
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
  max-width: 800px;
  text-align: center;
}
@media (max-width: 1024px) {
  .contacts-body main .contact .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .contacts-body main .contact .content {
    margin-bottom: 0;
    padding-top: 200px;
  }
}
@media (max-width: 480px) {
  .contacts-body main .contact .content {
    padding-top: 0;
  }
}
.contacts-body main .contact .content h2 {
  margin-bottom: 25px;
  font-size: 46px;
  color: #fff;
  font-weight: 500;
}
.contacts-body main .contact .content p {
  font-size: 25px;
  color: #fff;
  font-weight: 300;
}
@media (max-width: 1024px) {
  .contacts-body main .contact .content p {
    width: 400px;
    font-size: 20px;
  }
}
.contacts-body main .contact .container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  .contacts-body main .contact .container {
    height: 1000px;
    flex-wrap: wrap;
    margin-top: 100px;
  }
}
.contacts-body main .contact .container .contactInfo {
  justify-content: space-evenly;
  padding: 60px 90px;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .contacts-body main .contact .container .contactInfo {
    padding: 60px;
  }
}
.contacts-body main .contact .container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contacts-body main .contact .container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.contacts-body main .contact .container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
}
.contacts-body main .contact .container .contactInfo .box .text h3 {
  margin-bottom: 10px;
  font-weight: 500;
  color: #00bcd4;
  font-size: 22px;
  font-weight: 800;
}
.contacts-body main .contact .container .login-box {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.contacts-body main .contact .container .login-box form h2 {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
}
.contacts-body main .contact .container .login-box form .input-box {
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}
.contacts-body main .contact .container .login-box form .input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.contacts-body main .contact .container .login-box form .input-box input {
  padding: 0 35px 0 5px;
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
}
.contacts-body main .contact .container .login-box form .input-box input:focus ~ label,
.contacts-body main .contact .container .login-box form .input-box input:valid ~ label {
  top: -5px;
}
.contacts-body main .contact .container .login-box form .input-box .sec-icon {
  font-size: 1.2em;
  position: absolute;
  color: #fff;
  right: 8px;
  line-height: 57px;
}
.contacts-body main .contact .container .login-box form .remember-forgot {
  font-size: 0.9em;
  color: #fff;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.contacts-body main .contact .container .login-box form .remember-forgot label input {
  margin-right: 3px;
}
.contacts-body main .contact .container .login-box form .remember-forgot a {
  color: #fff;
}
.contacts-body main .contact .container .login-box form .remember-forgot a:hover {
  text-decoration: underline;
}
.contacts-body main .contact .container .login-box form button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  border: none;
  outline: none;
  background: #fff;
  color: black;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}
.contacts-body main .contact .container .login-box form .register-link {
  text-align: center;
  color: #fff;
  font-size: 0.9em;
  margin: 25px 0 10px;
}
.contacts-body main .contact .container .login-box form .register-link p {
  font-weight: 600;
  color: #fff;
}
.contacts-body main .contact .container .login-box form .register-link a {
  font-weight: 600;
  color: #fff;
}
.contacts-body main .contact .container .login-box form .register-link a:hover {
  text-decoration: underline;
}

.about {
  height: 1000px;
}
.about .about-conteiner {
  padding: 230px;
  height: 1000px;
  width: 100%;
  background-image: url(../images/8309_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .about .about-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
  }
}
@media (max-width: 480px) {
  .about .about-conteiner {
    padding: 20px;
  }
}
.about .about-conteiner .about-box {
  margin: 0 auto;
  background: transparent;
  width: 70%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 20px;
  height: 400px;
  border: 2px solid #454040;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1024px) {
  .about .about-conteiner .about-box {
    width: 600px;
    height: 500px;
  }
}
.about .about-conteiner .about-box h1 {
  font-size: 35px;
  font-weight: 800;
  font-family: "BPG Nino Mkhedruli Bold";
  color: #fff;
}
.about .about-conteiner .about-box p {
  padding: 0 50px;
  font-size: 20px;
  font-family: "BPG Nino Mkhedruli Bold";
  color: #fff;
}/*# sourceMappingURL=global.css.map */