@mixin bg-photos {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin bestchoice {
  color: $h1-color;
  font-family: "Great Vibes", cursive;
}
%foralltext {
  color: #fff;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@mixin flex {
  display: $display;
  flex-direction: row;
  justify-content: space-evenly;
}
@mixin forpicture {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
