%foralltext {
  color: #fff;
  text-align: center;

  font-size: 26px;
  font-style: normal;

  line-height: normal;
}
@mixin flex {
  display: $display;
  flex-direction: row;
  justify-content: space-evenly;
}
@mixin forpicture {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
%tittle {
  margin-bottom: 90px;
  padding-top: 100px;
  display: flex;
  gap: 12px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
%for-h1 {
  color: #ffd600;
  text-align: center;
  font-family: "BPG Mikheil Stefane", sans-serif;

  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.8%;
}
%for-h2 {
  color: #fff;
  text-align: center;
  font-family: "BPG Nino Mkhedruli Bold", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: lowercase;
}
%for-p {
  font-family: "BPG Mikheil Stefane", sans-serif;
  width: 912px;
  font-weight: 800;
  color: #323535;
}
%for-amptysharp {
  width: 50px;
  height: 30px;
  background-color: #abbaba;
  border: 0px solid;
  border-radius: 35px;
}
