@import "reset";
@import "variables";
@import "mixins";

@import url("//cdn.web-fonts.ge/fonts/bpg-mikheil-stefane/css/bpg-mikheil-stefane.min.css");

@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mkhedruli-bold/css/bpg-nino-mkhedruli-bold.min.css");

@import url("//cdn.web-fonts.ge/fonts/bpg-phone-sans-bold-italic/css/bpg-phone-sans-bold-italic.min.css");

body {
  width: 100%;
  height: 2400px;
  header {
    width: 100%;
    height: 109px;
    section {
      opacity: 0.6;
      align-items: center;
      z-index: 1;
      border-bottom: 2px solid black;
      background-color: white;
      position: fixed;
      top: 0px;
      padding: 35px 80px;
      width: 100%;
      justify-content: space-between;
      display: flex;
      &:hover {
        opacity: 1;
      }
      .logo {
        display: flex;
        gap: 30px;
        img {
          height: 40px;
        }
        // h1 {
        //   font-size: 45px;
        //   color: rgb(16, 255, 31);
        //   color: linear-gradient(
        //     90deg,
        //     rgba(16, 255, 31, 1) 5%,
        //     rgba(22, 235, 157, 1) 100%
        //   );
        //   font-weight: 600;
        //   font-family: "Great Vibes", cursive;
        // }
      }
      div {
        .navigation {
          height: 40px;
          margin-top: 17px;
          ul {
            display: flex;
            gap: 40px;
            #active {
              color: gray;
            }
            .link {
              width: 140px;
              text-align: center;
              transition: transform, all ease-in-out 0.4s;
              font-weight: 600;
              font-size: 20px;
              color: rgba(32, 26, 26, 0.988);
              // font-family: "BPG Phone Sans Bold Italic", sans-serif;
              // font-family: "BPG Mikheil Stefane", sans-serif;
              font-family: "BPG Nino Mkhedruli Bold", sans-serif;
              i {
                margin-right: 7px;
              }
              &:hover {
                transform: translateY(-7px);
                border-bottom: 3px solid #5cace4;
                color: #5cace4;
              }
            }
            select {
              font-family: Arial, Helvetica, sans-serif;

              padding: 7px;
              border: 3px solid gray;
              border-radius: 25px;
              width: 90px;
              height: 35px;
              option {
                img {
                  height: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
  main {
    margin-top: 20px;
    .underheader {
      .bg-Nature {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 240px 100px;
        height: 810px;
        background-image: url(../images/borjomi.jpg);
        @include forpicture;
        h1 {
          font-size: 100px;
          font-family: "BPG Mikheil Stefane", sans-serif;
          color: $h1-color;
          font-weight: 600;
        }
        h2 {
          font-size: 140px;
          font-family: "BPG Phone Sans Bold Italic", sans-serif;
          color: white;
          font-weight: 600;
        }
      }
      .flex {
        transform: translate(1100px, 439px);
        position: absolute;
        display: flex;
        gap: 40px;
        width: 300px;
        height: 90px;
        .photo {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 88px;
          height: 88px;
          background-color: rgb(255 186 0);
          border: 2px solid;
          border-radius: 45px;
          border-color: black;
          img {
            animation: mymove 0.8s infinite linear 0.8s;
          }
          @keyframes mymove {
            0% {
              transform: translateY(0px);
            }

            50% {
              transform: translateY(-15px);
            }
            75% {
              transform: translateY(5px);
            }

            100% {
              transform: translateY(5px);
            }
          }
        }
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 150px;
          p {
            font-weight: 700;
            font-size: 25px;
            color: rgba(255, 255, 255, 0.99);
            font-family: "BPG Nino Mkhedruli Bold", sans-serif;
          }
        }
      }
    }
    .destinations {
      height: 1010px;

      background: rgb(215, 220, 221);
      background: linear-gradient(
        180deg,
        rgba(215, 220, 221, 1) 0%,
        rgba(230, 237, 236, 1) 53%,
        rgba(245, 252, 255, 1) 100%
      );

      .tittle {
        margin-bottom: 90px;
        padding-top: 100px;
        display: flex;
        gap: 12px;
        text-align: center;
        flex-direction: column;
        align-items: center;

        h1 {
          color: #ffd600;
          text-align: center;
          font-family: "BPG Mikheil Stefane", sans-serif;

          font-size: 50px;
          font-style: normal;
          font-weight: 700;
          line-height: 82.8%;
        }
        h2 {
          color: #fff;
          text-align: center;
          font-family: "BPG Nino Mkhedruli Bold", sans-serif;
          font-size: 80px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          text-transform: lowercase;
        }
        div {
          width: 50px;
          height: 30px;
          background-color: #abbaba;
          border: 0px solid;
          border-radius: 35px;
        }
        p {
          font-family: "BPG Mikheil Stefane", sans-serif;
          width: 912px;
          font-weight: 800;
          @extend %foralltext;
        }
      }
      .locations {
        @include flex;
        .button {
          &:nth-child(1) {
            .picture {
              background-image: url(../images/borjomi1.jpg);
              @include forpicture;
            }
          }
          &:nth-child(2) {
            .picture {
              background-image: url(../images/borjomi2.jpg);
              @include forpicture;
            }
          }
          &:nth-child(3) {
            .picture {
              background-image: url(../images/blue-palace-firuza-firuza.jpg);
              @include forpicture;
            }
          }
          &:nth-child(4) {
            .picture {
              background-image: url(../images/green-monastery-totale-2-1000.jpg);
              @include forpicture;
            }
          }
        }

        .picture {
          border: 3px solid rgb(82, 81, 81);
          cursor: pointer;
          width: 270px;
          height: 450px;
          background-color: rgb(244, 31, 31);
          transition: transform 0.4s ease-in-out;
        }
        .picture:hover {
          transform: translateY(-15px)  scale(1.06);
        }
      }
    }
  }
}
