@import "reset";
@import "variables";
@import "mixins";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");

body {
  width: 100%;
  height: 2000px;
  header {
    width: 100%;
    height: 90px;
    section {
      z-index: 1;
      border-bottom: 2px solid black;
      background-color: whitesmoke;
      position: fixed;
      top: 0px;
      padding: 35px 100px;
      width: 100%;
      justify-content: space-between;
      display: flex;
      .logo {
        display: flex;
        gap: 30px;
        img {
          height: 40px;
        }
        h1 {
          font-size: 45px;
          color: rgb(9, 181, 9);
          font-weight: 600;
          font-family: "Great Vibes", cursive;
        }
      }
      div {
        .navigation {
          ul {
            display: flex;
            gap: 50px;
            #active {
              color: gray;
            }
            .link {
              width: 100px;
              text-align: center;
              transition: transform, ease-in-out 0.4s;
              font-weight: 600;
              font-size: 18px;
              color: rgba(32, 26, 26, 0.988);
              font-family: "Noto Sans", sans-serif;
            }
            .link:hover {
              transform: translateY(-8px);
              border-bottom: 2px solid;
              background-color:greenyellow;
            }
          }
        }
      }
    }
  }
  main {
    margin-top: 20px;
    .underheader {
      .bg-Nature {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 240px 100px;
        h2 {
          font-size: 240px;
          font-family: Georgia, "Times New Roman", Times, serif;
          color: white;
          font-weight: 600;
        }
        font-size: 170px;
        @include bestchoice;
        height: 810px;
        background-image: url(../images/janez-fabijan-VXzbVm24ap8-unsplash.jpg);
        @include bg-photos;
      }
      .flex {
        transform: translate(1000px, 415px);
        position: absolute;
        display: flex;
        gap: 40px;
        width: 400px;
        height: 90px;
        .photo {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 88px;
          height: 88px;
          background-color: aqua;
          border: 2px solid;
          border-radius: 45px;
          border-color: black;
          img {
            animation: mymove 0.8s infinite linear 0.8s;
          }
          @keyframes mymove {
            0% {
              transform: translateY(0px);
            }

            50% {
              transform: translateY(-15px);
            }
            75% {
              transform: translateY(5px);
            }

            100% {
              transform: translateY(5px);
            }
          }
        }
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 150px;
          p {
            font-size: 17px;
            color: white;
            font-family: "Noto Sans", sans-serif;
          }
        }
      }
    }
  }
}
