@import "reset";
@import "variables";
@import "mixins";

@import url("//cdn.web-fonts.ge/fonts/bpg-mikheil-stefane/css/bpg-mikheil-stefane.min.css");

@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mkhedruli-bold/css/bpg-nino-mkhedruli-bold.min.css");

@import url("//cdn.web-fonts.ge/fonts/bpg-phone-sans-bold-italic/css/bpg-phone-sans-bold-italic.min.css");

body {
  width: 100%;
  height: 3800px;
  header {
    width: 100%;

    .header {
      opacity: 0.6;
      align-items: center;
      z-index: 1;
      border-bottom: 2px solid black;
      background-color: rgb(255, 255, 255);
      position: fixed;
      top: 0px;
      padding: 35px 80px;
      width: 100%;
      justify-content: space-between;
      display: flex;
      @media (max-width: 1024px) {
        padding: 35px 19px;
      }
      &:hover {
        opacity: 1;
      }

      .logo {
        width: 120px;
        img {
          height: 40px;
          @media (max-width: 1024px) {
            height: 35px;
            width: 100px;
          }
        }
      }

      div {
        width: 70%;
        @media (max-width: 1024px) {
          width: 80%;
        }
        .navigation {
          height: 40px;
          margin-top: 17px;
          ul {
            justify-content: space-between;
            display: flex;

            #active {
              color: gray;
            }
            .link {
              width: 140px;
              text-align: center;
              transition: transform, all ease-in-out 0.4s;
              font-weight: 600;
              font-size: 20px;
              color: rgba(32, 26, 26, 0.988);
              font-family: "BPG Nino Mkhedruli Bold", sans-serif;

              @media (max-width: 1024px) {
                font-size: 18px;
                height: 28px;
              }
              i {
                margin-right: 7px;
                @media (max-width: 1024px) {
                  margin-right: 4px;
                }
              }
              &:hover {
                transform: translateY(-7px);
                border-bottom: 3px solid #5cace4;
                color: #5cace4;
              }
            }
            select {
              font-family: Arial, Helvetica, sans-serif;
              padding: 7px;
              border: 3px solid gray;
              border-radius: 25px;
              width: 70px;
              height: 35px;
              @media (max-width: 1024px) {
                width: 60px;
                padding: 0;
                font-size: 15px;
              }
              option {
                img {
                  height: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
  main {
    .underheader {
      .bg-Nature {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 240px 100px;
        height: 810px;
        background-image: url(../images/borjomi.jpg);
        @include forpicture;
        @media (max-width: 1024px) {
          justify-content: space-evenly;
        }
        h1 {
          font-size: 100px;
          font-family: "BPG Mikheil Stefane", sans-serif;
          color: $h1-color;
          font-weight: 600;
          @media (max-width: 1024px) {
            font-size: 70px;
          }
        }
        h2 {
          font-size: 140px;
          font-family: "BPG Phone Sans Bold Italic", sans-serif;
          color: white;
          font-weight: 600;
          @media (max-width: 1024px) {
            font-size: 100px;
          }
        }
      }
      .flex {
        position: absolute;
        top: 649px;
        right: 60px;
        display: flex;
        gap: 40px;
        width: 300px;
        height: 90px;
        .photo {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 88px;
          height: 88px;
          background-color: rgb(255 186 0);
          border: 2px solid;
          border-radius: 45px;
          border-color: black;
          img {
            animation: mymove 0.8s infinite linear 0.8s;
          }
          @keyframes mymove {
            0% {
              transform: translateY(0px);
            }

            50% {
              transform: translateY(-15px);
            }
            75% {
              transform: translateY(5px);
            }

            100% {
              transform: translateY(5px);
            }
          }
        }
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 150px;
          p {
            font-weight: 700;
            font-size: 25px;
            color: rgba(255, 255, 255, 0.99);
            font-family: "BPG Nino Mkhedruli Bold", sans-serif;
          }
        }
      }
    }
    .destinations {
      height: 1210px;
      margin-bottom: 100px;
      background: rgb(215, 220, 221);
      background: linear-gradient(
        180deg,
        rgba(215, 220, 221, 1) 0%,
        rgba(230, 237, 236, 1) 53%,
        rgba(245, 252, 255, 1) 100%
      );
      @media (max-width: 1024px) {
        height: 1710px;
        margin-bottom: 0;
      }

      .tittle {
        @extend %tittle;

        h1 {
          @extend %for-h1;
        }
        h2 {
          @extend %for-h2;
        }
        div {
          @extend %for-amptysharp;
        }
        p {
          @extend %for-p;
          @extend %foralltext;
          @media (max-width: 1024px) {
            width: 712px;
          }
        }
      }
      .locations {
        height: 800px;
        flex-wrap: wrap;
        @include flex;
        @media (max-width: 1024px) {
          height: 1190px;
          justify-content: space-around;
        }
        .button {
          &:nth-child(1) {
            .picture {
              background-image: url(../images/borjomi1.jpg);
              @include forpicture;
            }
          }
          &:nth-child(2) {
            .picture {
              background-image: url(../images/borjomi2.jpg);
              @include forpicture;
            }
          }
          &:nth-child(3) {
            .picture {
              background-image: url(../images/blue-palace-firuza-firuza.jpg);
              @include forpicture;
            }
          }
          &:nth-child(4) {
            .picture {
              background-image: url(../images/green-monastery-totale-2-1000.jpg);
              @include forpicture;
            }
          }
        }

        .picture {
          // border: 3px solid rgb(82, 81, 81);
          cursor: pointer;
          width: 310px;
          height: 553px;
          border-radius: 10px;

          background-color: rgb(244, 31, 31);
          transition: transform 0.4s ease-in-out;
          display: flex;
          flex-direction: column;
          text-align: center;
          padding-top: 374px;
          gap: 10px;
          @media (max-width: 1024px) {
            width: 340px;
            height: 500px;
          }
          @media (max-width: 780px) {
          }

          &:hover {
            transform: translateY(-15px) scale(1.02);
          }
          h1 {
            font-family: "BPG Nino Mkhedruli Bold", sans-serif;
            font-size: 27px;
            font-weight: 900;
            color: whitesmoke;

            // text-align: center;
          }
          p {
            font-family: "BPG Nino Mkhedruli Bold", sans-serif;
            font-size: 18px;
            font-weight: 900;
            color: whitesmoke;
          }
        }
      }
    }
    .seconddestinations {
      margin-bottom: 100px;
      .sec-tittle {
        @extend %tittle;

        h1 {
          @extend %for-h1;
          color: #ffea07;
        }
        h2 {
          @extend %for-h2;
          color: black;
        }
        .amptysharp {
          @extend %for-amptysharp;
        }
        p {
          @extend %for-p;
          @extend %foralltext;
          @media (max-width: 1024px) {
            width: 712px;
          }
        }
      }
    }
    .grid {
      height: 1200px;
      // margin-bottom: 594px;
      margin-bottom: 400px;
      display: $display;
      justify-content: center;
      .gridconteiner {
        padding: 0 50px;
        width: 100%;
        display: grid;

        gap: 30px;

        grid-template-columns: auto auto auto;

        @media (max-width: 1024px) {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
        }
        @media (max-width: 780px) {
          padding: 0 10px;
        }

        .sec-photo {
          display: flex;
          justify-content: end;
          flex-direction: column;
          padding-bottom: 70px;
          cursor: pointer;
          border-radius: 10px;
          background-color: #ffea07;
          @media (max-width: 1024px) {
            width: 400px;
          }
          @media (max-width: 780px) {
            width: 310px;
          }

          h1 {
            color: white;
            font-size: 27px;
            font-family: "BPG Nino Mkhedruli Bold", sans-serif;
            text-align: center;
          }
          h2 {
            color: white;
            font-size: 18px;
            font-family: "BPG Nino Mkhedruli Bold", sans-serif;
            text-align: center;
          }
        }

        #first {
          padding-bottom: 200px;
          background-image: url(../images/romanov-palace-known-likani-located-600w-1475101799.webp);
          @include forpicture;
          height: 720px;
          // width: 342px;
          grid-row-start: 1;
          grid-row-end: 3;
          @media (max-width: 1024px) {
            height: 345px;
            padding-bottom: 70px;
            background-position: top;
          }
        }
        #second {
          background-image: url(../images/b8.jpg);
          // width: 459px;
          height: 345px;
          @include forpicture;
        }
        #third {
          background-image: url(../images/deLoxqrgG3hw9364V98Oy92FjQrMNz.jpg);
          // width: 459px;
          height: 345px;
          @include forpicture;
        }
        #forth {
          background-image: url(../images/კახის\ ტბა.jpg);
          @include forpicture;
          // background-size: contain;
          // width: 948px;
          height: 345px;
          grid-column-start: 2;
          grid-column-end: 4;
        }
        #fifth {
          background-image: url(../images/b3.jpg);
          // width: 459px;
          height: 345px;
          @include forpicture;
        }
        #sixth {
          background-image: url(../images/dji-0561-12.jpg);
          // width: 459px;
          height: 345px;
          @include forpicture;
        }
        #seventh {
          background-image: url(../images/b6.jpg);
          // width: 459px;
          height: 345px;
          @include forpicture;
        }
      }
    }
    footer {
      height: 400px;
      width: 100%;
      background-image: url(../images/footer2.png);
      @include forpicture;

      section {
        padding-top: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .ft-link {
          padding-left: 77px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          h1 {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 900;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(249, 219, 219);
          }
          a {
            font-size: 18px;
            color: #848481;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            transition: 0.5s;
            &:hover {
              color: #5cace4;
            }
          }
        }
        .icons {
          padding-right: 232px;
          padding-top: 34px;
          display: flex;
          flex-direction: column;
          gap: 42px;
        }
      }
    }
  }
}

.servicesweb {
  height: 1000px;
  main {
    padding-top: 129px;
    #bg-color {
      width: 100%;
      height: 612px;
      // background: rgb(152, 150, 143);
      // background: linear-gradient(
      //   180deg,
      //   rgb(189, 188, 185) 0%,
      //   rgb(200, 200, 196) 36%,
      //   rgba(253, 254, 245, 1) 100%
      // );

      .bg-likani {
        background-image: url(../images/Crowne_Plaza_BORJOMI-Borjomi-Aussenansicht-5-766111.jpg);
        @include forpicture;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-color: #848481;
        height: 612px;
        width: 90%;
        div {
          display: flex;
          padding-top: 150px;
          align-items: center;
          flex-direction: column;
          gap: 15px;
          height: 300px;
          width: 60%;
          h1 {
            color: aliceblue;
            font-size: 100px;
            font-weight: 500;
            font-family: "BPG Nino Mkhedruli Bold", sans-serif;
          }
          h2 {
            font-size: 25px;
            color: aliceblue;
            font-family: "BPG Ni no Mkhedruli Bold", sans-serif;
          }
        }
      }
    }

    .offers-conteiner {
      width: 100%;
      flex-wrap: wrap;

      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;
      padding: 58px 70px;
      .offers {
        height: 1500px;
        width: 647px;
        .nav {
          width: 647px;
          height: 35px;
          // margin-bottom: 40px;
          display: flex;
          justify-content: space-between;
          a {
            font-size: 22px;
            font-weight: 900;
            color: #000000;
            font-family: "BPG Nino Mkhedruli Bold";

            cursor: pointer;
            &:hover {
              color: green;
              border-bottom: 3px solid green;
              // text-decoration: underline;
            }
          }
        }
        .about {
          height: 1000px;
          justify-content: space-around;
          display: flex;
          flex-direction: column;
          p {
            font-family: "BPG Nino Mkhedruli Bold";
            width: 647px;
            font-size: 20px;
            font-weight: 700;
            color: #6c7070;
          }
        }
      }
      .attention {
        margin-top: 50px;
        font-size: 25px;
        color: #207006;
        font-family: "BPG Nino Mkhedruli Bold", sans-serif;
      }
      .conteiner-of-photo {
        height: 200px;
        width: 647px;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;

        .photos {
          height: 194px;
          width: 194px;
          border-radius: 20px;
          background-color: #ffea07;
        }
        #pirveli {
          background-image: url(../images/Borjomi-7.jpg);
          @include forpicture;
        }
        #meore {
          background-image: url(../images/sulfur-pools.jpg);
          @include forpicture;
        }
        #mesame {
          background-image: url(../images/dji-0440-2.jpg);
          @include forpicture;
        }
      }
    }

    .weather {
      width: 504px;
      .describe-conteiner {
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        padding-top: 28px;
        width: 504px;
        height: 132px;
        border-radius: 10px;
        border: 2px solid #e5e5e5;
        .describe {
          font-family: "BPG Nino Mkhedruli Bold", sans-serif;
          &:nth-child(1) {
            border-right: 2px solid #e5e5e5;
          }
          &:nth-child(2) {
            border-right: 2px solid #e5e5e5;
          }
          height: 85px;
          width: 190px;

          .des-tittle {
            font-size: 17px;
            padding-left: 40px;
            font-weight: 600;
            color: #565656;
            font-family: "BPG Nino Mkhedruli Bold", sans-serif;
          }

          .sun {
            gap: 10px;
            height: 60px;
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            div {
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
            }
          }
          .Safety {
            font-family: "BPG Nino Mkhedruli Bold", sans-serif;
            height: 50px;
            align-items: center;
            padding-left: 40px;
            display: flex;
            gap: 16px;
            img {
              width: 17.999px;
              height: 17.999px;
            }
          }
          .population {
            height: 70px;
            align-items: center;
            display: flex;
            justify-content: center;
            gap: 16.5px;
            img {
              height: 18.13px;
              width: 18.13px;
              .numbers {
                .quantity {
                  font-family: Arial, Helvetica, sans-serif;
                  color: #000;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
      .potoebi {
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        div {
          &:nth-child(1) {
            background-image: url(../images/exterior.jpg);
            @include forpicture;
            border-radius: 10px;
            width: 504px;
            height: 194px;
            flex-shrink: 0;
            background-color: #000000;
          }
          &:nth-child(2) {
            background-image: url(../images/352505258_709995150928263_8921581682695330735_n.jpg);
            @include forpicture;
            border-radius: 10px;

            width: 247px;
            height: 194px;
            flex-shrink: 0;
          }
          &:nth-child(3) {
            background-image: url(../images/89291351.jpg);
            @include forpicture;
            border-radius: 10px;
            background-color: #000000;
            width: 247px;
            height: 194px;
            flex-shrink: 0;
          }
        }
      }
      .cost-conteiner {
        h1 {
          margin-bottom: 14px;
          font-size: 18px;
          font-family: "BPG Nino Mkhedruli Bold", sans-serif;
          color: rgb(59, 45, 45);
        }
        h2 {
          margin-bottom: 12px;
        }
        p {
          width: 90px;
          font-size: 13px;

          font-family: "BPG Nino Mkhedruli Bold", sans-serif;
          color: #454040;
        }
        .cost {
          padding: 29px 20px;
          display: flex;
          justify-content: space-around;
          margin-bottom: 40px;
          margin-top: 17px;
          width: 504px;
          height: 176px;
          flex-shrink: 0;
          border-radius: 10px;
          border: 2px solid #e5e5e5;

          .cost-boxs {
            width: 110px;
            height: 130px;
            &:nth-child(1) {
              border-right: 2px solid #e5e5e5;
            }
            &:nth-child(2) {
              border-right: 2px solid #e5e5e5;
            }
            &:nth-child(3) {
              border-right: 2px solid #e5e5e5;
            }
          }
        }
      }
    }
  }
  .barg {
    position: relative;
    align-items: center;
    padding: 0 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    margin: 0 auto;
    height: 133px;
    width: 90%;
    background-color: #527f1a;
    div {
      img {
        position: absolute;
        top: -50px;
      }
    }
    div {
      h1 {
        margin-bottom: 12px;
        font-size: 35px;
        font-weight: 800;
        color: white;
        font-family: "BPG Nino Mkhedruli Bold", sans-serif;
      }
      p {
        font-size: 20px;

        color: white;
        font-family: "BPG Nino Mkhedruli Bold", sans-serif;
      }
    }
    div {
      button {
        cursor: pointer;
        display: flex;
        padding: 11px 25px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        color: #7f731a;
        font-weight: 800;
        border-radius: 4px;
        border: none;
        background: #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

        height: 42px;
        width: 144px;
      }
    }
  }
  footer {
    margin-top: 290px;
  }
}

.contacts-body {
  height: 1000px;
  main {
    .contact {
      position: relative;
      display: flex;
      padding: 170px 100px;
      justify-content: center;
      align-items: center;
      min-height: 100vh;

      flex-direction: column;
      width: 100%;
      background-color: #6ba80b;
      background-image: url(../images/bg.jpg);
      @include forpicture;
      animation: animateBg 5s linear infinite;
      @keyframes animateBg {
        100% {
          filter: hue-rotate(360deg);
        }
      }
      .content {
        font-family: "BPG Nino Mkhedruli Bold", sans-serif;
        // padding-top: 200px;
        max-width: 800px;
        text-align: center;

        h2 {
          margin-bottom: 25px;
          font-size: 46px;
          color: #fff;
          font-weight: 500;
        }
        p {
          color: #fff;
          font-weight: 300;
        }
      }
      .container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;

        .contactInfo {
          justify-content: space-evenly;
          padding: 60px 90px;
          width: 400px;
          height: 450px;
          background: transparent;
          border: 2px solid rgba(255, 255, 255, 0.5);
          border-radius: 20px;
          backdrop-filter: blur(15px);
          // width: 50%;
          display: flex;
          flex-direction: column;

          .box {
            position: relative;
            padding: 20px 0;
            display: flex;
            .icon {
              min-width: 60px;
              height: 60px;
              background: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              font-size: 22px;
            }
            .text {
              display: flex;
              margin-left: 20px;
              font-size: 16px;
              color: #fff;
              flex-direction: column;
              h3 {
                margin-bottom: 10px;
                font-weight: 500;
                color: #00bcd4;
                font-size: 22px;
                font-weight: 800;
              }
            }
          }
        }
        .login-box {
          font-family: Arial, Helvetica, sans-serif;
          position: relative;
          width: 400px;
          height: 450px;
          background: transparent;
          border: 2px solid rgba(255, 255, 255, 0.5);
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          backdrop-filter: blur(15px);
          form {
            h2 {
              text-align: center;
              font-size: 2rem;
              color: #fff;
              font-weight: 700;
            }
            .input-box {
              position: relative;
              width: 310px;
              margin: 30px 0;
              border-bottom: 2px solid #fff;
              label {
                position: absolute;
                top: 50%;
                left: 5px;
                transform: translateY(-50%);
                font-size: 1em;
                color: #fff;
                pointer-events: none;
                transition: 0.5s;
              }
              input {
                padding: 0 35px 0 5px;
                width: 100%;
                height: 50px;
                background: transparent;
                border: none;
                outline: none;
                font-size: 1em;
                color: #fff;
              }
              input:focus ~ label,
              input:valid ~ label {
                top: -5px;
              }
              .sec-icon {
                font-size: 1.2em;
                position: absolute;
                color: #fff;
                right: 8px;
                line-height: 57px;
              }
            }
            .remember-forgot {
              font-size: 0.9em;
              color: #fff;
              margin: -15px 0 15px;
              display: flex;
              justify-content: space-between;
              label {
                input {
                  margin-right: 3px;
                }
              }
              a {
                color: #fff;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
            button {
              width: 100%;
              height: 40px;
              border-radius: 40px;
              border: none;
              outline: none;
              background: #fff;
              color: black;
              font-size: 1em;
              font-weight: 500;
              cursor: pointer;
            }
            .register-link {
              text-align: center;
              color: #fff;
              font-size: 0.9em;
              margin: 25px 0 10px;

              p {
                font-weight: 600;
                color: #fff;
              }
              a {
                font-weight: 600;
                color: #fff;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
.about {
  height: 1000px;
  .about-conteiner {
    padding: 230px;

    height: 1000px;

    width: 100%;
    background-image: url(../images/8309_1.jpg);
    @include forpicture;
    .about-box {
      margin: 0 auto;
      background: transparent;
      width: 70%;
      backdrop-filter: blur(5px);
      border-radius: 20px;
      height: 400px;
      border: 2px solid #454040;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      h1 {
        font-size: 35px;
        font-weight: 800;
        font-family: "BPG Nino Mkhedruli Bold";
        color: #fff;
      }
      p {
        padding: 0 50px;
        font-size: 20px;
        font-family: "BPG Nino Mkhedruli Bold";
        color: #fff;
      }
    }
  }
}
