@import "reset";
@import "variables";
@import "mixins";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");

body {
  width: 100%;
  height: 2000px;
  header {
    width: 100%;
    height: 90px;
    section {
      z-index: 1;
      // border-bottom: 2px solid black;
      // background-color: whitesmoke;
      // position: fixed;
      top: 0px;
      padding: 35px 100px;
      width: 100%;
      justify-content: space-between;
      display: flex;
      .logo {
        display: flex;
        gap: 30px;
        img {
          height: 40px;
        }
        // h1 {
        //   font-size: 45px;
        //   color: rgb(16, 255, 31);
        //   color: linear-gradient(
        //     90deg,
        //     rgba(16, 255, 31, 1) 5%,
        //     rgba(22, 235, 157, 1) 100%
        //   );
        //   font-weight: 600;
        //   font-family: "Great Vibes", cursive;
        // }
      }
      div {
        .navigation {
          ul {
            display: flex;
            gap: 50px;
            #active {
              color: gray;
            }
            .link {
              width: 100px;
              text-align: center;
              transition: transform, all ease-in-out 0.4s;
              font-weight: 600;
              font-size: 18px;
              color: rgba(32, 26, 26, 0.988);
              font-family: "Noto Sans", sans-serif;
            }
            .link:hover {
              transform: translateY(-4px);
              border-bottom: 3px solid #5cace4;
              color: #5cace4;
            }
          }
        }
      }
    }
  }
  main {
    margin-top: 20px;
    .underheader {
      .bg-Nature {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 240px 100px;
        h2 {
          font-size: 240px;
          font-family: Georgia, "Times New Roman", Times, serif;
          color: white;
          font-weight: 600;
        }
        font-size: 170px;
        @include bestchoice;
        height: 810px;
        background-image: url(../images/janez-fabijan-VXzbVm24ap8-unsplash.jpg);
        @include bg-photos;
      }
      .flex {
        transform: translate(1000px, 415px);
        position: absolute;
        display: flex;
        gap: 40px;
        width: 400px;
        height: 90px;
        .photo {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 88px;
          height: 88px;
          background-color: aqua;
          border: 2px solid;
          border-radius: 45px;
          border-color: black;
          img {
            animation: mymove 0.8s infinite linear 0.8s;
          }
          @keyframes mymove {
            0% {
              transform: translateY(0px);
            }

            50% {
              transform: translateY(-15px);
            }
            75% {
              transform: translateY(5px);
            }

            100% {
              transform: translateY(5px);
            }
          }
        }
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 150px;
          p {
            font-size: 17px;
            color: white;
            font-family: "Noto Sans", sans-serif;
          }
        }
      }
    }
    .destinations {
      height: 1010px;
      // background: rgb(16, 255, 80);
      // background: linear-gradient(
      //   180deg,
      //   rgba(16, 255, 80, 1) 5%,
      //   rgba(22, 212, 235, 1) 100%

      // );
      background: rgb(16, 255, 88);
      background: linear-gradient(
        180deg,
        rgba(16, 255, 88, 1) 0%,
        rgba(22, 235, 218, 1) 71%,
        rgba(242, 252, 255, 1) 100%
      );

      .tittle {
        margin-bottom: 90px;
        padding-top: 100px;
        display: flex;
        gap: 12px;
        text-align: center;
        flex-direction: column;
        align-items: center;

        h1 {
          color: #ffd600;
          text-align: center;
          font-family: "Allison", cursive;
          font-size: 80px;
          font-style: normal;
          font-weight: 700;
          line-height: 82.8%;
        }
        h2 {
          color: #fff;
          text-align: center;
          font-family: "Noto Sans", sans-serif;
          font-size: 80px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          text-transform: lowercase;
        }
        div {
          width: 50px;
          height: 30px;
          background-color: aqua;
          border: 0px solid;
          border-radius: 35px;
        }
        p {
          width: 1012px;
          @extend %foralltext;
        }
      }
      .locations {
        @include flex;
        .picture:nth-child(1) {
          background-image: url(../images/borjomi1.jpg);
          @include forpicture;
        }
        .picture:nth-child(2) {
          background-image: url(../images/borjomi2.jpg);
          @include forpicture;
        }
        .picture:nth-child(3) {
          background-image: URL(../images/blue-palace-firuza-firuza.jpg);
          @include forpicture;
        }
        .picture:nth-child(4) {
          background-image: url(../images/green-monastery-totale-2-1000.jpg);
          @include forpicture;
        }
        .picture {
          border: 3px solid rgb(82, 81, 81);
          cursor: pointer;
          width: 270px;
          height: 450px;
          background-color: rgb(244, 31, 31);
          transition: transform 0.4s ease-in-out;
        }
        .picture:hover {
          transform: translateY(-15px) skewY(3deg) scale(1.06);
        }
      }
    }
  }
}
