@import "reset";
@import "variables";
@import "mixins";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");

body {
  width: 100%;
  height: 100vh;
  header {
    width: 100%;
    height: 80px;
    section {
      padding: 35px 100px;
      width: 100%;
      justify-content: space-between;
      display: flex;
      div {
        h1 {
          font-size: 45px;
          color: rgb(9, 181, 9);
          font-weight: 600;
          font-family: "Great Vibes", cursive;
        }
      }
      div {
        nav {
          ul {
            display: flex;
            gap: 50px;
            li {
              a {
                font-weight: 400;
                font-size: 18px;
                color: rgba(32, 26, 26, 0.988);
                font-family: "Noto Sans", sans-serif;
                transition: transform 0.8s, ease-in-out;
              }
              a:hover {
                transform: translate(0, -8px);
                transition-duration: 0.8s;
                background-color: rgb(232, 217, 200);
              }
            }
          }
        }
      }
    }
  }
}
