@import "reset";
@import "variables";
@import "mixins";

@import url("//cdn.web-fonts.ge/fonts/bpg-mikheil-stefane/css/bpg-mikheil-stefane.min.css");

@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mkhedruli-bold/css/bpg-nino-mkhedruli-bold.min.css");

@import url("//cdn.web-fonts.ge/fonts/bpg-phone-sans-bold-italic/css/bpg-phone-sans-bold-italic.min.css");

body {
  width: 100%;
  height: 3800px;
  header {
    width: 100%;

    section {
      opacity: 0.6;
      align-items: center;
      z-index: 1;
      border-bottom: 2px solid black;
      background-color: rgb(255, 255, 255);
      position: fixed;
      top: 0px;
      padding: 35px 80px;
      width: 100%;
      justify-content: space-between;
      display: flex;
      &:hover {
        opacity: 1;
      }
      .logo {
        display: flex;
        gap: 30px;
        img {
          height: 40px;
        }
        // h1 {
        //   font-size: 45px;
        //   color: rgb(16, 255, 31);
        //   color: linear-gradient(
        //     90deg,
        //     rgba(16, 255, 31, 1) 5%,
        //     rgba(22, 235, 157, 1) 100%
        //   );
        //   font-weight: 600;
        //   font-family: "Great Vibes", cursive;
        // }
      }
      div {
        .navigation {
          height: 40px;
          margin-top: 17px;
          ul {
            display: flex;
            gap: 40px;
            #active {
              color: gray;
            }
            .link {
              width: 140px;
              text-align: center;
              transition: transform, all ease-in-out 0.4s;
              font-weight: 600;
              font-size: 20px;
              color: rgba(32, 26, 26, 0.988);
              // font-family: "BPG Phone Sans Bold Italic", sans-serif;
              // font-family: "BPG Mikheil Stefane", sans-serif;
              font-family: "BPG Nino Mkhedruli Bold", sans-serif;
              i {
                margin-right: 7px;
              }
              &:hover {
                transform: translateY(-7px);
                border-bottom: 3px solid #5cace4;
                color: #5cace4;
              }
            }
            select {
              font-family: Arial, Helvetica, sans-serif;

              padding: 7px;
              border: 3px solid gray;
              border-radius: 25px;
              width: 70px;
              height: 35px;
              option {
                img {
                  height: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
  main {
    .underheader {
      .bg-Nature {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 240px 100px;
        height: 810px;
        background-image: url(../images/borjomi.jpg);
        @include forpicture;
        h1 {
          font-size: 100px;
          font-family: "BPG Mikheil Stefane", sans-serif;
          color: $h1-color;
          font-weight: 600;
        }
        h2 {
          font-size: 140px;
          font-family: "BPG Phone Sans Bold Italic", sans-serif;
          color: white;
          font-weight: 600;
        }
      }
      .flex {
        position: absolute;
        top: 679px;
        right: 60px;
        display: flex;
        gap: 40px;
        width: 300px;
        height: 90px;
        .photo {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 88px;
          height: 88px;
          background-color: rgb(255 186 0);
          border: 2px solid;
          border-radius: 45px;
          border-color: black;
          img {
            animation: mymove 0.8s infinite linear 0.8s;
          }
          @keyframes mymove {
            0% {
              transform: translateY(0px);
            }

            50% {
              transform: translateY(-15px);
            }
            75% {
              transform: translateY(5px);
            }

            100% {
              transform: translateY(5px);
            }
          }
        }
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 150px;
          p {
            font-weight: 700;
            font-size: 25px;
            color: rgba(255, 255, 255, 0.99);
            font-family: "BPG Nino Mkhedruli Bold", sans-serif;
          }
        }
      }
    }
    .destinations {
      height: 1210px;
      margin-bottom: 100px;
      background: rgb(215, 220, 221);
      background: linear-gradient(
        180deg,
        rgba(215, 220, 221, 1) 0%,
        rgba(230, 237, 236, 1) 53%,
        rgba(245, 252, 255, 1) 100%
      );

      .tittle {
        @extend %tittle;

        h1 {
          @extend %for-h1;
        }
        h2 {
          @extend %for-h2;
        }
        div {
          @extend %for-amptysharp;
        }
        p {
          @extend %for-p;
          @extend %foralltext;
        }
      }
      .locations {
        height: 800px;
        flex-wrap: wrap;
        @include flex;
        .button {
          &:nth-child(1) {
            .picture {
              background-image: url(../images/borjomi1.jpg);
              @include forpicture;
            }
          }
          &:nth-child(2) {
            .picture {
              background-image: url(../images/borjomi2.jpg);
              @include forpicture;
            }
          }
          &:nth-child(3) {
            .picture {
              background-image: url(../images/blue-palace-firuza-firuza.jpg);
              @include forpicture;
            }
          }
          &:nth-child(4) {
            .picture {
              background-image: url(../images/green-monastery-totale-2-1000.jpg);
              @include forpicture;
            }
          }
        }

        .picture {
          // border: 3px solid rgb(82, 81, 81);
          cursor: pointer;
          width: 310px;
          height: 553px;
          border-radius: 10px;

          background-color: rgb(244, 31, 31);
          transition: transform 0.4s ease-in-out;
          display: flex;
          flex-direction: column;
          text-align: center;
          padding-top: 374px;
          gap: 10px;

          &:hover {
            transform: translateY(-15px) scale(1.02);
          }
          h1 {
            font-family: "BPG Nino Mkhedruli Bold", sans-serif;
            font-size: 27px;
            font-weight: 900;
            color: whitesmoke;

            // text-align: center;
          }
          p {
            font-family: "BPG Nino Mkhedruli Bold", sans-serif;
            font-size: 18px;
            font-weight: 900;
            color: whitesmoke;
          }
        }
      }
    }
    .seconddestinations {
      margin-bottom: 100px;
      .sec-tittle {
        @extend %tittle;

        h1 {
          @extend %for-h1;
          color: #ffea07;
        }
        h2 {
          @extend %for-h2;
          color: black;
        }
        .amptysharp {
          @extend %for-amptysharp;
        }
        p {
          @extend %for-p;
          @extend %foralltext;
        }
      }
    }
    .grid {
      height: 1200px;
      // margin-bottom: 594px;
      margin-bottom: 400px;
      display: $display;
      justify-content: center;
      .gridconteiner {
        padding: 0 50px;
        width: 100%;
        display: grid;

        gap: 30px;

        grid-template-columns: auto auto auto;

        // height: 710px;
        // width: 1300px;
        // background-color: #5cace4;

        .sec-photo {
          display: flex;
          justify-content: end;
          flex-direction: column;
          padding-bottom: 70px;
          cursor: pointer;
          border-radius: 10px;
          background-color: #ffea07;

          h1 {
            color: white;
            font-size: 27px;
            font-family: "BPG Nino Mkhedruli Bold", sans-serif;
            text-align: center;
          }
          h2 {
            color: white;
            font-size: 18px;
            font-family: "BPG Nino Mkhedruli Bold", sans-serif;
            text-align: center;
          }
        }

        #first {
          padding-bottom: 200px;
          background-image: url(../images/romanov-palace-known-likani-located-600w-1475101799.webp);
          @include forpicture;
          height: 720px;
          // width: 342px;
          grid-row-start: 1;
          grid-row-end: 3;
        }
        #second {
          background-image: url(../images/b8.jpg);
          // width: 459px;
          height: 345px;
          @include forpicture;
        }
        #third {
          background-image: url(../images/deLoxqrgG3hw9364V98Oy92FjQrMNz.jpg);
          // width: 459px;
          height: 345px;
          @include forpicture;
        }
        #forth {
          background-image: url(../images/კახის\ ტბა.jpg);
          @include forpicture;
          // background-size: contain;
          // width: 948px;
          height: 345px;
          grid-column-start: 2;
          grid-column-end: 4;
        }
        #fifth {
          background-image: url(../images/b3.jpg);
          // width: 459px;
          height: 345px;
          @include forpicture;
        }
        #sixth {
          background-image: url(../images/dji-0561-12.jpg);
          // width: 459px;
          height: 345px;
          @include forpicture;
        }
        #seventh {
          background-image: url(../images/b6.jpg);
          // width: 459px;
          height: 345px;
          @include forpicture;
        }
      }
    }
    footer {
      height: 400px;
      width: 100%;
      background-image: url(../images/footer2.png);
      @include forpicture;

      section {
        padding-top: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .ft-link {
          padding-left: 77px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          h1 {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 900;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(249, 219, 219);
          }
          a {
            font-size: 18px;
            color: #848481;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            transition: 0.5s;
            &:hover {
              color: #5cace4;
            }
          }
        }
        .icons {
          padding-right: 232px;
          padding-top: 60px;
          display: flex;
          flex-direction: column;
          gap: 32px;
        }
      }
    }
  }
}

.servicesweb {
  height: 1000px;
  main {
    padding-top: 129px;

    .bg-likani {
      background-image: url(../images/Crowne_Plaza_BORJOMI-Borjomi-Aussenansicht-5-766111.jpg);
      @include forpicture;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      background-color: #848481;
      height: 612px;
      width: 90%;
      div {
        display: flex;
        padding-top: 150px;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        height: 300px;
        width: 60%;
        h1 {
          color: aliceblue;
          font-size: 100px;
          font-weight: 500;
          font-family: "BPG Nino Mkhedruli Bold", sans-serif;
        }
        h2 {
          font-size: 25px;
          color: aliceblue;
          font-family: "BPG Nino Mkhedruli Bold", sans-serif;
        }
      }
    }

    .offers {
     height: 1600px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 330px;
      padding-left: 70px;
      padding-right: 70px;
      padding-top:50px ;
      section {
        div {
         
          a {
            font-size: 22px;
            font-weight: 900;
            color: #000000;
            font-family: "BPG Mikheil Stefane", sans-serif;

            cursor: pointer;
            &:hover {
              color: green;
              border-bottom: 3px solid green;
              // text-decoration: underline;
            }
          }
        }
        .about {
          height: 1150px;
          justify-content: space-around;
          display: flex;
          flex-direction: column;
          p {
            width: 647px;
            font-size: 18px;
            font-weight: 700;
            color: #323535;
          }
        }
      }
      h1 {
        font-size: 25px;
        color: #207006;
        font-family: "BPG Nino Mkhedruli Bold", sans-serif;
      }
      .conteiner-of-photo {
        &:nth-child(1) {
          .photos {
            background-image: url(../images/);
          }
        }
        &:nth-child(2) {
          .photos {
            background-image: url(../images/);
          }
        }
        &:nth-child(3) {
          .photos {
            background-image: url(../images/);
          }
        }
        margin-top: 60px;
        width: 647px;
        display: flex;
        justify-content: space-between;
        .photos {
          height: 194px;
          width: 194px;
          border-radius: 20px;
          background-color: #ffea07;
        }
      }

      .weather {
        .discribe {
          width: 504px;
          height: 132px;
background-color: #207006;
          border-radius: 10px;
          border: 1px solid #2c2929;
          
        }
      }
    }
    .barg {
      position: relative;
      align-items: center;
      padding: 0 70px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-radius: 10px;
      margin: 0 auto;
      height: 133px;
      width: 90%;
      background-color: #7f731a;
      div {
        img {
          position: absolute;
          top: -50px;
        }
      }
      div {
        h1 {
          margin-bottom: 12px;
          font-size: 35px;
          font-weight: 800;
          color: white;
          font-family: "BPG Nino Mkhedruli Bold", sans-serif;
        }
        p {
          font-size: 20px;

          color: white;
          font-family: "BPG Nino Mkhedruli Bold", sans-serif;
        }
      }
      div {
        button {
          cursor: pointer;
          display: flex;
          padding: 11px 25px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          color: #7f731a;
          font-weight: 800;
          border-radius: 4px;
          border: none;
          background: #fff;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

          height: 42px;
          width: 144px;
        }
      }
    }
    footer {
      margin-top: 400px;
    }
  }
}
